*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,
 body{
    width:100%;
    height:100%;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1761839256547-0a1cd11b6dfb?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
:root{
    --red:rgb(121, 17, 17);
    --x:200px;
    --y:200px;
}
.box{
    height:100%;
    width: 100%;
    
    /* background: linear-gradient(in oklab to bottom, white, red,purple); */
    /* background:radial-gradient(50px ,red, blue); */
    /* background:radial-gradient(50px at 50px 300px,red, blue); */
    /* background:radial-gradient(50px at x-axis y-axis,red, blue);  parameter example of axis*/
    /* background-color: var(--red); */
    background:radial-gradient(200px at var(--x) var(--y), rgba(255, 0, 0, 0), rgb(2, 2, 20));

}